<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<!DOCTYPE html>
<html>
<head>
<title>Search</title>
<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/glitcher32/glitcher32.github.io/master/gg.css">
    
    <!-- Privacy -->
    <meta name="referrer" content="no-referrer">
    <meta http-equiv="x-dns-prefetch-control" content="off">
    <meta name="format-detection" content="telephone=no">

<link rel="shortcut icon" type="image/x-icon" href="../glitcher32Security.ico">
<link rel="apple-touch-icon" href="../glitcher32Security.ico">
	<link rel="icon" type="image/x-icon" href="/glitcher32Security.ico" />
<!-- default favicon -->
<link rel="shortcut icon" href="../glitcher32Security.ico" type="image/x-icon">

<!-- wideley used favicon -->
<link rel="icon" href="../glitcher32Security.ico" sizes="32x32" type="image/x-icon">
 
<!-- for apple mobile devices -->
<link rel="apple-touch-icon-precomposed" href="../glitcher32Security.ico" type="image/x-icon" sizes="152x152">
<link rel="apple-touch-icon-precomposed" href="../glitcher32Security.ico" type="image/x-icon" sizes="120x120">
 
<!-- google tv favicon -->
<link rel="icon" href="../glitcher32Security.ico" sizes="96x96" type="image/x-icon">
<link rel="stylesheet" href="../cursor.css" type="text/css">
<meta name="theme-color" content="#ff0000" />
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#ff0000">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#ff0000">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#ff0000">

<meta name="apple-mobile-web-app-status-bar-style" content="red">
<meta name="apple-mobile-web-app-capable" content="yes">
<body oncontextmenu="return false;">


<script src='//www.ip-approval.com/1/2/2018/ip-checker-js'></script>






    </head>
<style>
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
</style>
</head>
<body>
<div class="container" id="app" v-cloak>
<div v-if="fatalError" style="padding: 20%;">
<h2>Something has gone wrong.</h2>
<p>Please try again later.</p>
<p><code>{{ fatalError }}</code></p>
</div>
<div class="form" v-else>
<div class="signin" v-if="!loggedIn && !loading">
<p style="text-align: center;"><img src="https://glitcher32.com/logo.png" alt="" width="335" height="95" /></p>
<br><br>
<iframe src="https://duckduckgo.com/search.html?site=https://duckduckgo.com/search.html?prefill=glitcher32&k1=-1&kam=osm&kak=-1&kax=-1&kaq=-1&kap=-1&kao=-1&kau=-1&k5=1&kaa=b30000&kx=d30000&k9=da0000&kj=E42217&prefill=glitcher32" style="overflow:hidden;margin:0;padding:0;width:100%;height:40px;" frameborder="0"></iframe>
<br><br>
<p style="text-align: center;"><span style="color: #ff0000;">Your privacy is respected here. <a title="About DuckDuckGo" href="https://duckduckgo.com/about" target="_blank" rel="noopener">Learn More</a><br /></span></p>
<a href="#" class="button">Learn more. <img src="https://d125fmws0bore1.cloudfront.net/assets/partners/logo_white_google-006cb681ddc554e10141f1ed23612e31de915345510d7b132c9aa230f6563224.png" alt="" /></a>
</div>
<p class="api"><a href="#">Wire: glitcher32</a> | <a href="https://glitcher32.com">Home</a></p>
<script src="https://verify.eryn.io/app.js?6"></script>
</body>
</html>

 <script>
$(document).on('keydown',function(e)
{ 
    var key = e.charCode || e.keyCode;
    if(key == 123 || key == 27 )
        {}
    else
        e.preventDefault();
});
</script>
