<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<!DOCTYPE html>
<html>
<head>
<title>Avoid Google</title>
<link rel="stylesheet" type="text/css" href="https://verify.eryn.io/static/style.css?v=5.2">
<link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
<link rel="icon" type="image/png" href="https://images.rbxcdn.com/7c69aea3037674c85907be8261544542.png" />
<script src="https://verify.eryn.io/static/vue.min.js"></script>
<link href="https://tosdr.org/css/bootstrap.css" rel="stylesheet">
		<link href="https://tosdr.org/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="https://tosdr.org/css/custom.css" rel="stylesheet">
    
    <!-- Privacy -->
    <meta name="referrer" content="no-referrer">
    <meta http-equiv="x-dns-prefetch-control" content="off">
    <meta name="format-detection" content="telephone=no">

<link rel="shortcut icon" type="image/x-icon" href="../glitcher32Security.ico">
<link rel="apple-touch-icon" href="../glitcher32Security.ico">
	<link rel="icon" type="image/x-icon" href="/glitcher32Security.ico" />
<!-- default favicon -->
<link rel="shortcut icon" href="../glitcher32Security.ico" type="image/x-icon">

<!-- wideley used favicon -->
<link rel="icon" href="../glitcher32Security.ico" sizes="32x32" type="image/x-icon">
 
<!-- for apple mobile devices -->
<link rel="apple-touch-icon-precomposed" href="../glitcher32Security.ico" type="image/x-icon" sizes="152x152">
<link rel="apple-touch-icon-precomposed" href="../glitcher32Security.ico" type="image/x-icon" sizes="120x120">
 
<!-- google tv favicon -->
<link rel="icon" href="../glitcher32Security.ico" sizes="96x96" type="image/x-icon">
<link rel="stylesheet" href="../cursor.css" type="text/css">
<meta name="theme-color" content="#ff0000" />
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#ff0000">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#ff0000">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#ff0000">

<meta name="apple-mobile-web-app-status-bar-style" content="red">
<meta name="apple-mobile-web-app-capable" content="yes">
<body oncontextmenu="return false;">


<script src='//www.ip-approval.com/1/2/2018/ip-checker-js'></script>






    </head>
<style>
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
</style>
</head>
<body>
<div class="container" id="app" v-cloak>
<h1>Avoid Google!</h1>
<div v-if="fatalError" style="padding: 20%;">
<h2>Something has gone wrong.</h2>
<p>Please try again later.</p>
<p><code>{{ fatalError }}</code></p>
</div>
<div class="form" v-else>
<div class="signin" v-if="!loggedIn && !loading">
<a href="#" class="button">Adapt away from <img src="https://d125fmws0bore1.cloudfront.net/assets/partners/logo_white_google-006cb681ddc554e10141f1ed23612e31de915345510d7b132c9aa230f6563224.png" alt="" /></a>

<div class="modal-body"><div class="tosdr-rating"><label class="label C">Class C</label><p>The terms of service are okay but some issues need your consideration.</p></div>
<section class="specificissues"> <ul class="tosdr-points"><li id="popup-point-google-2198" class="point"><div class="blocker"><h5><span class="badge badge-important" title="blocker"><i class="icon-remove icon-white">×</i></span> Your identity is used in ads that are shown to other users <a href="https://edit.tosdr.org/points/2198" target="_blank" class="label context">Discussion</a></h5><p>Google TOS changes</p></div>
</li>
<li id="popup-point-google-5841" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> This service may collect, use, and share location data <a href="https://edit.tosdr.org/points/5841" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-google-5839" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> The service can read your private messages <a href="https://edit.tosdr.org/points/5839" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-google-794" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> This service tracks you on other websites <a href="https://edit.tosdr.org/points/794" target="_blank" class="label context">Discussion</a></h5><p>This service uses cookies to track you even if you are not interacting with them directly.</p></div>
</li>
<li id="popup-point-google-1598" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> Google may collect your device fingerprint. <a href="https://edit.tosdr.org/points/1598" target="_blank" class="label context">Discussion</a></h5><p>"We collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile network information including phone number). Google may associate your device identifiers or phone number with your Google Account."</p></div>
</li>
<li id="popup-point-google-856" class="point"><div class="neutral"><h5><span class="badge badge-neutral" title="neutral"><i class="icon-asterisk icon-white">⋅</i></span> There is a date of the last update of the terms <a href="https://edit.tosdr.org/points/856" target="_blank" class="label context">Discussion</a></h5><p></p></div>
</li>
<li id="popup-point-google-950" class="point"><div class="good"><h5><span class="badge badge-success" title="good"><i class="icon-thumbs-up icon-white">+</i></span> Partial archives of their terms are available <a href="https://edit.tosdr.org/points/950" target="_blank" class="label context">Discussion</a></h5><p>At http://www.google.com/intl/en/policies/terms/archive/ you can see at least one previous versions of Google's terms</p></div>
</li>
<li id="popup-point-google-1104" class="point"><div class="neutral"><h5><span class="badge badge-neutral" title="neutral"><i class="icon-asterisk icon-white">⋅</i></span> Limited copyright license to operate and improve all Google Services <a href="https://edit.tosdr.org/points/1104" target="_blank" class="label context">Discussion</a></h5><p>The copyright license you grant is “for the limited purpose of operating, promoting, and improving” existing and new Google Services. However, please note that the license does not end if you stop using the Google services.</p></div>
</li>
<li id="popup-point-google-5838" class="point"><div class="neutral"><h5><span class="badge badge-neutral" title="neutral"><i class="icon-asterisk icon-white">⋅</i></span> There is a date of the last update of the terms <a href="https://edit.tosdr.org/points/5838" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-google-1141" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> The service may use tracking pixels, web beacons, browser fingerprinting, and/or device fingerprinting on users. <a href="https://edit.tosdr.org/points/1141" target="_blank" class="label context">Discussion</a></h5><p>"We collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile network information including phone number). Google may associate your device identifiers or phone number with your Google Account."</p></div>
</li>
<li id="popup-point-google-617" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> Google can share your personal information with other parties <a href="https://edit.tosdr.org/points/617" target="_blank" class="label context">Discussion</a></h5><p>Google can share your personal information with other parties. For sensitive information (medical, racial, ethnic, political, religious or sexuality) Google requires “opt-in”. Google can also share or publish aggregated data that does not identify a person</p></div>
</li>
<li id="popup-point-google-612" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> Google can use your content for all their existing and future services <a href="https://edit.tosdr.org/points/612" target="_blank" class="label context">Discussion</a></h5><p>The content you post on a particular Google service can be used by Google on other services you may not be aware of.</p></div>
</li>
<li id="popup-point-google-5842" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> Blocking cookies may limit your ability to use the service <a href="https://edit.tosdr.org/points/5842" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-google-5844" class="point"><div class="good"><h5><span class="badge badge-success" title="good"><i class="icon-thumbs-up icon-white">+</i></span> You can request access and deletion of personal data <a href="https://edit.tosdr.org/points/5844" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-google-5843" class="point"><div class="good"><h5><span class="badge badge-success" title="good"><i class="icon-thumbs-up icon-white">+</i></span> This service allows you to retrieve an archive of your data <a href="https://edit.tosdr.org/points/5843" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-google-603" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> Google may stop providing services to you at any time <a href="https://edit.tosdr.org/points/603" target="_blank" class="label context">Discussion</a></h5><p>“Google may also stop providing Services to you, or add or create new limits to our Services at any time.” Google has no obligation from the terms to give you notice in advance or to give a reason for that termination</p></div>
</li>
<li id="popup-point-google-1888" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> This service uses your personal information for many different purposes <a href="https://edit.tosdr.org/points/1888" target="_blank" class="label context">Discussion</a></h5><p>Basically, information is collected from "third party websites", "technology", use of "personal data", and the data/demographics you choose to provide. The website says they do this in order to make the website more personalized and "useful" to you, but they track you in all ways possible, which is something of concern if personal online privacy is important to you. Further, although they say that they also use information you provide, even if you provide the bare minimum like your name and your age, they use that to find more info on you as well (at least that is my interpretation of their clause). </p></div>
</li>
<li id="popup-point-google-783" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> Google keeps the rights on your content when you stop using it <a href="https://edit.tosdr.org/points/783" target="_blank" class="label context">Discussion</a></h5><p>The license that you grant to Google on content you upload to their services will continue even if you stop using the services. While this makes sense for some services (e.g. Google Maps) this applies by default to all Google services. Otherwise you need to check each service for ways to remove content and for specific clauses that restrict the license in time.</p></div>
</li>
<li id="popup-point-google-5840" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> The service is provided 'as is' and to be used at the users' sole risk <a href="https://edit.tosdr.org/points/5840" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-google-1060" class="point"><div class="good"><h5><span class="badge badge-success" title="good"><i class="icon-thumbs-up icon-white">+</i></span> When the service wants to change its terms, users are notified a week or more in advance. <a href="https://edit.tosdr.org/points/1060" target="_blank" class="label context">Discussion</a></h5><p>Google: changes in ToS</p></div>
</li>
<li id="popup-point-google-2142" class="point"><div class="neutral"><h5><span class="badge badge-neutral" title="neutral"><i class="icon-asterisk icon-white">⋅</i></span> Users agree not to use the service for illegal purposes <a href="https://edit.tosdr.org/points/2142" target="_blank" class="label context">Discussion</a></h5><p>EN (quote) : &gt; Do not use our Services improperly.
FR (quote) : &gt; N’utilisez pas nos Services de façon impropre.</p></div>
</li>
<li id="popup-point-google-1088" class="point"><div class="neutral"><h5><span class="badge badge-neutral" title="neutral"><i class="icon-asterisk icon-white">⋅</i></span> Jurisdiction in California <a href="https://edit.tosdr.org/points/1088" target="_blank" class="label context">Discussion</a></h5><p>“The laws of California, U.S.A., excluding California’s conflict of laws rules, will apply to any disputes arising out of or relating to these terms or the Services.All claims arising out of or relating to these terms or the Services will be litigated exclusively in the federal or state courts of Santa Clara County, California, USA, and you and Google consent to personal jurisdiction in those courts.”</p></div>
</li>
</ul></section>
<section><h4>Read the Terms</h4><ul class="tosback2">
<li><a href="https://www.google.com/analytics/terms/us.html">Google Analytics Terms of Service</a></li>
<li><a href="https://support.google.com/wifi/answer/6246642?hl=en">Google Wifi and your privacy</a></li>
<li><a href="https://policies.google.com/privacy?hl=nl&amp;gl=nl">Privacy Policy</a></li>
<li><a href="https://policies.google.com/terms">Terms of Service</a></li>
<li><a href="https://www.google.com/intl/en/policies/privacy/key-terms/">Key terms</a></li>
<li><a href="https://www.google.com/intl/en/policies/faq/">FAQ</a></li>
</ul></section>
</div>
<a href="https://duckduckgo.com/" class="button">Switch to <img src="https://duckduckgo.com/assets/common/dax-logo.svg" alt="" /></a>	
</div>
<div class="loading" v-if="loading">
<img src="https://verify.eryn.io/static/ring.svg" alt="Loading">
<p>{{ state }}</p>
</div>
<div id="need-login" v-if="loggedIn">
<div v-if="vstate == 'init'">
<h3>Hello, {{ username }}!</h3>
<div class="input">
<input type="text" size="30" maxlength="20" placeholder="Roblox Username..." autofocus="autofocus" v-model.trim="roblox_username" />
</div>
<div class="input">
<h2>Verify by <button v-on:click="verify('game')">joining a game</button> or <button v-on:click="verify('code')">adding a code to your profile</button></h2>

</div>
<div v-if="is_verified" style="padding: 30px">
You are already verified. You can <a href="#" v-on:click="unverify()">unverify</a> or continue above with a new account.
</div>
</div>
<div v-if="vstate != 'init' && vstate != 'verified'">
<span class="link" v-on:click="vstate = 'init'">&lt; Change username</span>
</div>
<div v-if="vstate == 'error'">
<h2>{{ verror }}</h2>
</div>
<div v-if="vstate == 'code'">
<p>To verify that you own the account <strong>{{ roblox_username }}</strong>, please put the following code into your Roblox profile:</p>
<p v-if="vcodeerror" class="error">{{ vcodeerror }}</p>
<img src="/static/ring.svg" alt="Loading" v-if="code == '' || vchecking" style="width: 50px; margin: 0 auto; display: block;" />
<div v-else style="text-align: center">
<span class="code">{{ code }}</span>

<span class="button" id="copy-btn" v-bind:data-clipboard-text="code">copy to clipboard</span>
<button v-on:click="verify('check')">Done</button>
<img src="/static/guide.png" alt="Verifying guide" class="guide" />
</div>
</div>
<div v-if="vstate == 'game'">
<p>To verify that you own the account <strong>{{ roblox_username }}</strong>, please join the following Roblox game:</p>
<img src="https://verify.eryn.io/static/ring.svg" alt="Loading" v-if="code == '' || vchecking" style="width: 50px; margin: 0 auto; display: block;" />
<div v-else style="text-align: center;">
<a href="https://www.roblox.com/games/713226354/Verify" class="button" target="_blank">Verification Game</a>
</div>
</div>
<div v-if="vstate == 'verified'" style="text-align: center;">
<img src="https://verify.eryn.io/static/verified.png" alt="Verified!">
<h3>Your account has been verified!</h3>
<p v-if="code">You may now remove the code from your profile.</p>
</div>
</div>
</div>
</div>
<p class="api"><a href="#">Wire: glitcher32</a> | <a href="https://glitcher32.com">Home</a></p>
<script src="https://verify.eryn.io/app.js?6"></script>
</body>
</html>

 <script>
$(document).on('keydown',function(e)
{ 
    var key = e.charCode || e.keyCode;
    if(key == 123 || key == 27 )
        {}
    else
        e.preventDefault();
});
</script>
