<!DOCTYPE html>
<html>
<head>
<title>Roblox Chill Zone</title>
<link rel="stylesheet" type="text/css" href="https://verify.eryn.io/static/style.css?v=5.2">
<link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
<link rel="icon" type="image/png" href="https://images.rbxcdn.com/7c69aea3037674c85907be8261544542.png" />
<script src="https://verify.eryn.io/static/vue.min.js"></script>
<link href="https://tosdr.org/css/bootstrap.css" rel="stylesheet">
		<link href="https://tosdr.org/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="https://tosdr.org/css/custom.css" rel="stylesheet">
</head>
<body>
<div class="container" id="app" v-cloak>
<h1>Play Boys and Girls Chill Zone!</h1>
<div v-if="fatalError" style="padding: 20%;">
<h2>Something has gone wrong.</h2>
<p>Please try again later.</p>
<p><code>{{ fatalError }}</code></p>
</div>
<div class="form" v-else>
<div class="signin" v-if="!loggedIn && !loading">
<a href="https://www.roblox.com/games/3346491618/" class="button">Play on <img src="https://images.rbxcdn.com/7c69aea3037674c85907be8261544542.png" alt="Discord" /></a>
<br><br>
<p>Click the button above to goto the ROBLOX website where you can play the game. This game currently costs <b>$46 Robux</b> to play.</p>
<br><br>
<p><b>⚠️WARNING:</b> ROBLOX is an extreme invasion of peoples privacy!⚠️</p>


<div class="modal-body"><div class="tosdr-rating"><label class="label false">No Class Yet</label><p>We haven't sufficiently reviewed the terms yet. Please contribute to our group: <a href="https://tosdr.org/get-involved.html">Get involved</a>.</p></div>
<section class="specificissues"> <ul class="tosdr-points"><li id="popup-point-roblox-6021" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span>  Terms may be changed any time at their discretion, without notice to the user  <a href="https://edit.tosdr.org/points/6021" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-4265" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> The service can delete your account without prior notice and without a reason  <a href="https://edit.tosdr.org/points/4265" target="_blank" class="label context">Discussion</a></h5><p>At any time, your account can be terminated without explanation and without warning by the service.</p></div>
</li>
<li id="popup-point-roblox-6019" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> This service forces users into binding arbitration in the case of disputes <a href="https://edit.tosdr.org/points/6019" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6020" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> This service can use your content for all their existing and future services <a href="https://edit.tosdr.org/points/6020" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6041" class="point"><div class="neutral"><h5><span class="badge badge-neutral" title="neutral"><i class="icon-asterisk icon-white">⋅</i></span> This service assumes no responsibility and liability for the contents of links to other websites <a href="https://edit.tosdr.org/points/6041" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6022" class="point"><div class="neutral"><h5><span class="badge badge-neutral" title="neutral"><i class="icon-asterisk icon-white">⋅</i></span> There is a date of the last update of the terms <a href="https://edit.tosdr.org/points/6022" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6023" class="point"><div class="neutral"><h5><span class="badge badge-neutral" title="neutral"><i class="icon-asterisk icon-white">⋅</i></span> The service has a no refund policy <a href="https://edit.tosdr.org/points/6023" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6040" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> The service can sell or otherwise transfer your personal data as part of a bankruptcy proceeding or other type of financial transaction. <a href="https://edit.tosdr.org/points/6040" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6026" class="point"><div class="neutral"><h5><span class="badge badge-neutral" title="neutral"><i class="icon-asterisk icon-white">⋅</i></span> The service has a no refund policy <a href="https://edit.tosdr.org/points/6026" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6029" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> The service does not guarantee that software errors will be corrected <a href="https://edit.tosdr.org/points/6029" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6039" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> Many third parties are involved in operating the service <a href="https://edit.tosdr.org/points/6039" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6031" class="point"><div class="neutral"><h5><span class="badge badge-neutral" title="neutral"><i class="icon-asterisk icon-white">⋅</i></span> Users are responsible for any risks, damages, or losses they may incur by downloading materials <a href="https://edit.tosdr.org/points/6031" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6032" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> You waive your right to a class action. <a href="https://edit.tosdr.org/points/6032" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6034" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> The service may use tracking pixels, web beacons, browser fingerprinting, and/or device fingerprinting on users. <a href="https://edit.tosdr.org/points/6034" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-4266" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> they may stop providing the service at any time <a href="https://edit.tosdr.org/points/4266" target="_blank" class="label context">Discussion</a></h5><p>they may stop providing the service at any time</p></div>
</li>
<li id="popup-point-roblox-6035" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> The service refers users to external documents for more information <a href="https://edit.tosdr.org/points/6035" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6024" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> This services gives no guarantee regarding quality <a href="https://edit.tosdr.org/points/6024" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6030" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> The service is provided 'as is' and to be used at the users' sole risk <a href="https://edit.tosdr.org/points/6030" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6038" class="point"><div class="bad"><h5><span class="badge badge-warning" title="bad"><i class="icon-thumbs-down icon-white">-</i></span> Your personal data is given to third parties <a href="https://edit.tosdr.org/points/6038" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
<li id="popup-point-roblox-6033" class="point"><div class="neutral"><h5><span class="badge badge-neutral" title="neutral"><i class="icon-asterisk icon-white">⋅</i></span> The court of law governing the terms is in the State of California <a href="https://edit.tosdr.org/points/6033" target="_blank" class="label context">Discussion</a></h5><p>Generated through the annotate view</p></div>
</li>
</ul></section>
<section><a href="https://tosdr.org/get-involved.html" class="btn">Help us find the Terms »</a></section>
</div>
</div>
<div class="loading" v-if="loading">
<img src="https://verify.eryn.io/static/ring.svg" alt="Loading">
<p>{{ state }}</p>
</div>
<div id="need-login" v-if="loggedIn">
<div v-if="vstate == 'init'">
<h3>Hello, {{ username }}!</h3>
<div class="input">
<input type="text" size="30" maxlength="20" placeholder="Roblox Username..." autofocus="autofocus" v-model.trim="roblox_username" />
</div>
<div class="input">
<h2>Verify by <button v-on:click="verify('game')">joining a game</button> or <button v-on:click="verify('code')">adding a code to your profile</button></h2>

</div>
<div v-if="is_verified" style="padding: 30px">
You are already verified. You can <a href="#" v-on:click="unverify()">unverify</a> or continue above with a new account.
</div>
</div>
<div v-if="vstate != 'init' && vstate != 'verified'">
<span class="link" v-on:click="vstate = 'init'">&lt; Change username</span>
</div>
<div v-if="vstate == 'error'">
<h2>{{ verror }}</h2>
</div>
<div v-if="vstate == 'code'">
<p>To verify that you own the account <strong>{{ roblox_username }}</strong>, please put the following code into your Roblox profile:</p>
<p v-if="vcodeerror" class="error">{{ vcodeerror }}</p>
<img src="/static/ring.svg" alt="Loading" v-if="code == '' || vchecking" style="width: 50px; margin: 0 auto; display: block;" />
<div v-else style="text-align: center">
<span class="code">{{ code }}</span>

<span class="button" id="copy-btn" v-bind:data-clipboard-text="code">copy to clipboard</span>
<button v-on:click="verify('check')">Done</button>
<img src="/static/guide.png" alt="Verifying guide" class="guide" />
</div>
</div>
<div v-if="vstate == 'game'">
<p>To verify that you own the account <strong>{{ roblox_username }}</strong>, please join the following Roblox game:</p>
<img src="https://verify.eryn.io/static/ring.svg" alt="Loading" v-if="code == '' || vchecking" style="width: 50px; margin: 0 auto; display: block;" />
<div v-else style="text-align: center;">
<a href="https://www.roblox.com/games/713226354/Verify" class="button" target="_blank">Verification Game</a>
</div>
</div>
<div v-if="vstate == 'verified'" style="text-align: center;">
<img src="https://verify.eryn.io/static/verified.png" alt="Verified!">
<h3>Your account has been verified!</h3>
<p v-if="code">You may now remove the code from your profile.</p>
</div>
</div>
</div>
</div>
<p class="api"><a href="#">Wire: glitcher32</a> | <a href="https://glitcher32.com">Home</a></p>
<script src="https://verify.eryn.io/app.js?6"></script>
</body>
</html>
